
body {
  background-image: url('../images/email-pattern.png');
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  color: #777777;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.push {
  height: 50px;
}

header {
  margin-top: 0px;
  background: #ffffff;
  border: #cccccc;
  height: 100px;
  margin-bottom: 35px;
  border-bottom: 1px solid #cccccc;
  width: 100%;
}

.topbar-info {
  width: 960px;
  margin: 0 auto;
}

.name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  padding: 35px;
  float: left;
  background: #4aaaa5;
  color: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.links {
  float: right;
  margin-top: 36.5px;
  background-color: #ffffff;
}

.navlink {
  border-right: 2px solid #cccccc;
  padding: 0px 5px 0px 3px;
}

.navlink:last-child {
  border-right: none;
}

.aboutme {
  padding: 20px;
  width: 920px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #dddddd;
}

.label {
  margin-bottom: 20px;
  margin-left: 10px;
  background: #ffffff;
  color: #4aaaa5;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

hr {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #cccccc;
}

#textbox {
  line-height: 2;
  font-family:  'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: #ffffff;
  color: #777777;
}

.portfolio-img {
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  height: 200px;
  width: 250px;
}

.textwrapleft {
  float: left;
  margin-right: 20px;
  height: 200px;
  width: 200px;
}

.footer {
  margin-top: 20px;
  height: 50px;
  background: #666666;
  width: 100%;
  border-top: 8px solid #4aaaa5;
  text-align: center;
}

#foot {
  margin-top: 33px;
  color: #ffffff;
  font-size: 11px;
  vertical-align: text-bottom;
  background: #666666;
  font-family:  'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

input[type="text"], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
  background: #ffffff;
}

input[type="submit"] {
  background: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.banner {
  background: #4aaaa5;
  color: #ffffff;
  width: 212px;
  position: relative;
  margin-top: -100px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.banner2 {
  background: #4aaaa5;
  color: #ffffff;
  width: 212px;
  position: relative;
  margin-top: -92px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  margin-left: 275px;
}

@media screen and (max-width: 980px) {
  
}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 640px) {
  .topbar-info, .name, .links {
    width: 100%;
  }

  .name{
    text-align: center;
    background-color: #4aaaa5;
  }

  .links{
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    position: absolute;
    border-bottom: 2px solid #cccccc; 
  }

  .aboutme {
    margin-top:80px;
    width: 80%;
  }

  .textwrapleft {
    width: 100%;
    height: 100%;
  }

  #foot {
    margin-top: 16.5px;
  }
}
/*
#foot {
  margin-top: 33px;
  color: #ffffff;
  font-size: 11px;
  vertical-align: text-bottom;
  background: #666666;
  font-family:  'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}
.textwrapleft {
  float: left;
  margin-right: 20px;
  height: 200px;
  width: 200px;
}
.aboutme {
  padding: 20px;
  width: 920px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #dddddd;
}

.label {
  margin-bottom: 20px;
  margin-left: 10px;
  background: #ffffff;
  color: #4aaaa5;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

hr {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #cccccc;
}

#textbox {
  line-height: 2;
  font-family:  'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: #ffffff;
  color: #777777;
}
.name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  padding: 35px;
  float: left;
  background: #4aaaa5;
  color: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.links {
  float: right;
  margin-top: 36.5px;
  background-color: #ffffff;
}
.topbar-info {
  width: 960px;
  margin: 0 auto;
}


*/